@page "/"
@namespace BlazorApp1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorBootstrap</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/template/css/linearicons.css">
    <link rel="stylesheet" href="~/template/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/template/css/bootstrap.css">
    <link rel="stylesheet" href="~/template/css/magnific-popup.css">
    <link rel="stylesheet" href="~/template/css/nice-select.css">
    <link rel="stylesheet" href="~/template/css/animate.min.css">
    <link rel="stylesheet" href="~/template/css/jquery-ui.css">
    <link rel="stylesheet" href="~/template/css/owl.carousel.css">
    <link rel="stylesheet" href="~/template/css/main.css">
    <link rel="stylesheet" href="~/template/css/bootstrap/bootstrap.css" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="~/template/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/template/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/template/js/easing.min.js"></script>
    <script src="~/template/js/hoverIntent.js"></script>
    <script src="~/template/js/superfish.min.js"></script>
    <script src="~/template/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/template/js/jquery-ui.js"></script>
    <script src="~/template/js/owl.carousel.min.js"></script>
    <script src="~/template/js/jquery.nice-select.min.js"></script>
    <script src="~/template/js/mail-script.js"></script>
    <script src="~/template/js/main.js"></script>
@*    <script src="_framework/blazor.server.js"></script>
*@</body>
</html>
